table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(21, 159, 194);
    width: 800px;
    border-radius: 15px;
    border-spacing: 10px;
}
tr {
    margin: 5px;
}
td {
    height: 50px;
    width: 33%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.288);
}
.seleccionada {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.719);
}
.hover {
    border: 1px solid rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.719);
}